<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/public/css/public/home.css">
  </head>
  <body>
    <header id="navbar"></header>

    <main>
      <h1>Home</h1>
    </main>






    <!-- Este Scrpit genera automaticamente el navbar según el perifl -->
    <script type="module" src="../../../public/js/components/navbar.js"></script>
  </body>
</html>
