<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.25/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.25/dist/sweetalert2.all.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
</head>

<body>

    <header id="navbar"></header>

    <main>

        <h1>Mi Perfil</h1>

        <h2>Solicitar ser Barbero</h2>

        <form id="applicationForm">

            <label for="experience">
                Experiencia
            </label>

            <textarea
                id="experience"
                required>
            </textarea>

            <button type="submit">
                Enviar Solicitud
            </button>

        </form>

    </main>

    <script
        type="module"
        src="../../../public/js/components/navbar.js">
    </script>

    <script
        type="module"
        src="../../../public/js/client/profile.js">
    </script>

</body>
</html>