<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de citas</title>
</head>
<body>

    <header id="navbar"></header>

    <main>

        <h1>Gestión de Citas</h1>

        <div id="appointmentsContainer"></div>

    </main>

    <script
        type="module"
        src="../../../public/js/components/navbar.js">
    </script>

    <script
        type="module"
        src="../../../public/js/admin/appointments.js">
    </script>

</body>
</html>