<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
  </head>

  <body>
    <header id="navbar"></header>

    <main>
      <h1>Panel de Compras</h1>

      <div id="purchasesContainer"></div>
    </main>

    <script type="module" src="../../../public/js/components/navbar.js"></script>
    <script type="module" src="../../../public/js/admin/purchases.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
