<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.25/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.25/dist/sweetalert2.all.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estadísticas</title>
  </head>

  <body>
    <header id="navbar"></header>

    <main>
      <h1>Estadísticas del Sistema</h1>

      <h2>Total Usuarios</h2>
      <p id="totalUsers"></p>

      <h2>Clientes</h2>
      <p id="totalClients"></p>

      <h2>Barberos</h2>
      <p id="totalBarbers"></p>

      <h2>Total Citas</h2>
      <p id="totalAppointments"></p>

      <h2>Pendientes</h2>
      <p id="pendingAppointments"></p>

      <h2>Aceptadas</h2>
      <p id="acceptedAppointments"></p>

      <h2>Completadas</h2>
      <p id="completedAppointments"></p>

      <h2>Canceladas</h2>
      <p id="cancelledAppointments"></p>
    </main>

    <script
      type="module"
      src="../../../public/js/components/navbar.js"
    ></script>

    <script type="module" src="../../../public/js/admin/statistics.js"></script>
  </body>
</html>
