<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historial de Citas</title>
  </head>

  <body>
    <header id="navbar"></header>

    <main>
      <h1>Historial de Citas</h1>

      <div id="historyContainer"></div>
    </main>

    <script
      type="module"
      src="../../../public/js/components/navbar.js"
    ></script>

    <script type="module" src="../../../public/js/barber/history.js"></script>
  </body>
</html>
